<div style="" class="fp-hler h80">
	<div class="ma-label">Total Balance</div>
	<table style="width: 100%;height: 100%">
		<tr>
			<td>
				<h2 class="overall-currency">Total: 10000 RON</h2>
			</td>
		</tr>
	</table>

</div>

<div style="" class="fp-hler">
	<div class="ma-label">Chart for current month</div>
	<nvd3-stacked-area-chart
		data="exampleData"
		id="exampleId"
		showXAxis="true"
		showYAxis="true"
		xAxisTickFormat="xAxisTickFormat()">
		<svg></svg>
	</nvd3-stacked-area-chart>

</div>
<div style="" class="fp-hler padd15">
	<div class="ma-label">Last 10 entries</div>
	<ul style="margin: 15px" id="lastTenEntries">
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
		<li>
			<table>
				<tr>
					<td rowspan="2" class="first"><i class="fa fa-glass"></i></td>
					<td class="second">Category name</td>
					<td class="third">-5.00 RON</td>
				</tr>
				<tr>

					<td class="second">#hashtags</td>
					<td class="third"> today </td>
				</tr>
			</table>
		</li>
	</ul>

</div>