<table id="register-wrapper">
	<tr>
		<td id="register-ctr">
			<div>
				<form name="regform">
					<input type="text" name="firstname" ng-model="user.firstname" placeholder="First Name" required>
					<!--					<span class="alert-danger" ng-show="regform.firstname.$error.minlength">Minimum length is 2</span>-->
					<span class="alert-danger" ng-show="regform.firstname.$error.required">Please fill out your first name</span>

					<input type="text" name="lastname" ng-model="user.lastname" placeholder="Last Name" required>
					<span class="alert-danger" ng-show="regform.lastname.$error.required">Please fill out your last name</span>

					<select name="gender">
						<option value="Mr">Mr</option>
						<option value="Mrs">Mrs</option>
					</select>

					<input type="email" name="email" ng-model="user.email" placeholder="Email" required>
					<span class="alert-danger" ng-show="regform.email.$error.email">This is not valid email!</span>
					<span class="alert-danger" ng-show="regform.email.$error.required">This field is required.</span>
					
<!--					<input type="password" name="password" ng-model="user.password" data-ng-class="{'ng-invalid':myForm.confirmPassword.$error.match}" placeholder="Password" required="">
					<span class="alert-danger" ng-show="regform.password.$error.required">This field is required.</span>
					
					<input type="password" name="confirm_password" ng-model="user.confirm_password" data-match="user.password" placeholder="Confirm password" required="">
					<span class="alert-danger" ng-show="regform.confirm_password.$error.required">This field is required.</span>
					<span class="alert-danger" ng-show="regform.confirm_password.$error.match">Passwords didn't matched.</span>-->

<input ng-model="user.password" type="password" name="password" data-ng-class="{'ng-invalid':regform.confirmPassword.$error.match}" placeholder="Password" required="" />
					<span class="alert-danger" ng-show="regform.password.$error.required">This field is required.</span>
					
					<input ng-model="user.passwordConfirm" type="password" data-match="user.password" name="confirmPassword" placeholder="Confirm password" required="" />
					
					<span class="alert-danger" data-ng-show="regform.confirmPassword.$error.match">Passwords do not match!</span>
					<span class="alert-danger" ng-show="regform.confirm_password.$error.required">This field is required.</span>


					<!--<input type="checkbox" name="remember"><span>Remember me</span>-->

					<input type="submit" value="Register" ng-disabled="regform.$invalid" ng-click="register()">
				</form>
				<p ng-show="false" class="error font-12">There was an error.</p>

			</div>
		</td>
	</tr>
</table>