<ul>
	<li>
		<div style="">
			<i class="fa fa-bank fa-big"></i><span class="p-left-10">My account</span>
		</div>

	</li>
	<h3 style="" class="gn-between">
		<span style="font-size: 10px;text-transform: uppercase;font-family: Helvetica, sans-serif;">Account information</span>
	</h3>
<!--	<li>
		<i class="fa fa-arrow-down"></i><span class="p-left-10">Expenses</span>
	</li>

	<li>
		<i class="fa fa-arrow-up"></i><span class="p-left-10">Incomes</span>
	</li>

	<li>
		<i class="fa fa-credit-card"></i><span class="p-left-10">Overall</span>
	</li>-->
	
	<li ng-click="redirect('login')" ng-show="!userService.currentUser.logged">
		<i class="fa fa-tag"></i><span class="p-left-10">Login</span>
	</li>
	<li ng-click="redirect('register')" ng-show="!userService.currentUser.logged">
		<i class="fa fa-users"></i><span class="p-left-10">Register</span>
	</li>
	
	<li ng-click="redirect('profile')" ng-show="userService.currentUser.logged">
		<i class="fa fa-users"></i><span class="p-left-10">Profile</span>
	</li>
	<li ng-click="redirect('profile')" ng-show="userService.currentUser.logged">
		<i class="fa fa-users"></i><span class="p-left-10">Accounts</span>
	</li>
	<li ng-click="redirect('profile')" ng-show="userService.currentUser.logged">
		<i class="fa fa-users"></i><span class="p-left-10">Expenses</span>
	</li>
	<li ng-click="redirect('profile')" ng-show="userService.currentUser.logged">
		<i class="fa fa-users"></i><span class="p-left-10">Incomes</span>
	</li>
	<li ng-click="redirect('profile')" ng-show="userService.currentUser.logged">
		<i class="fa fa-users"></i><span class="p-left-10">Logout</span>
	</li>

</ul>